<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocue {{script_id}}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="no-margin">
    <header>
        <a href="/">Autocue</a>&emsp;
        <a href="/edit-script/{{script_id}}">Edit this script</a>&emsp;
        <span id="speed-indicator">Gamepad not detected</span>
    </header>

    <div class="autocue">
        {%- for line in text -%}
        {{ line }}
        <br />
        {%- endfor -%}
    </div>

    <script>
        var speed = 0;
        var delay = 17;
        function pageScroll() {
            if (speed) {
                window.scrollBy(0, speed);
            }
            scrolldelay = setTimeout(pageScroll, delay);
        }
        pageScroll();
        var speedIndicator = document.getElementById("speed-indicator");

        window.addEventListener("gamepadconnected", function (e) {
            var gp = navigator.getGamepads()[e.gamepad.index];
            speedIndicator.innerHTML = "Gamepad connected";

            gamepadLoop();
        });

        function gamepadLoop() {
            var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads : []);
            var gp = gamepads[0];

            // debugger;
            var triggerPressure = Math.floor(gp.buttons[7].value * 100) || Math.floor(gp.buttons[6].value * -100);
            speed = Math.ceil(triggerPressure / 20);

            speedIndicator.innerHTML = `triggerPressure=${triggerPressure}; speed=${speed}; delay=${delay}`;

            requestAnimationFrame(gamepadLoop);
        }
    </script>
</body>

</html>