<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="/edit-script/{{script_id}}">Edit this script</a>
    <span id="speed-indicator">Gamepad not detected</span>
    <div class="autocue">
        {%- for line in text -%}
        {{ line }}
        <br />
        {%- endfor -%}
    </div>

    <script>
        var speed = 1;
        var delay = 35;
        function pageScroll() {
            window.scrollBy(0, speed);
            scrolldelay = setTimeout(pageScroll, 17);
        }
        pageScroll();
    </script>
</body>

</html>