<!DOCTYPE html>
<html lang="en">

<head>
    <title>Autocue {{script_id}}</title>
    {% include 'components/head.html' %}
</head>

<body class="no-margin">
    <header>
        <a href="/">Autocue</a>&emsp;
        <a href="/edit-script/{{script_id}}">Edit this script</a>&emsp;
        <span id="speed-indicator">Gamepad not detected</span>&emsp;
        <button onclick="smallerFont()">➖</button>
        Text size
        <button onclick="biggerFont()">➕</button>
    </header>

    <div id="autocue">
        {%- for line in text -%}
        {{ line }}
        <br />
        {%- endfor -%}
    </div>

    <script>
        var fontSize = 40;
        var speed = 0;
        var delay = 17;
        function pageScroll() {
            if (speed) {
                window.scrollBy(0, speed);
            }
            scrolldelay = setTimeout(pageScroll, delay);
        }
        pageScroll();
        var speedIndicator = document.getElementById("speed-indicator");

        window.addEventListener("gamepadconnected", function (e) {
            var gp = navigator.getGamepads()[e.gamepad.index];
            speedIndicator.innerHTML = "Gamepad connected";

            gamepadLoop();
        });

        function gamepadLoop() {
            var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads : []);
            var gp = gamepads[0];

            var triggerPressure = Math.floor(gp.buttons[7].value * 100) || Math.floor(gp.buttons[6].value * -100);
            speed = Math.ceil(triggerPressure / 20);

            speedIndicator.innerHTML = `Speed ${speed}`;

            requestAnimationFrame(gamepadLoop);
        }

        function biggerFont() {
            fontSize = fontSize * 1.3;
            document.getElementById('autocue').style.fontSize = fontSize + 'pt'
        }

        function smallerFont() {
            fontSize = fontSize / 1.3;
            document.getElementById('autocue').style.fontSize = fontSize + 'pt'
        }
    </script>
</body>

</html>